@import "tailwindcss";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.animate-row-blink {
  animation: blinkHighlight 0.8s ease-in-out 4;
}

@keyframes blinkHighlight {
  50% {
    background-color:  rgb(234 179 8 / 0.18);
  }
}